<div class =  "row">
  <div class = "col-md-2 col-sm-2 col-xs-2"></div>

  <div class = "user-edit-form col-md-8 col-sm-8 col-xs-8">
    <h2>サインアップ</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control",placeholder: "ユーザー名(20文字以内)" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class: "form-control",placeholder: "メールアドレス" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control",placeholder: "パスワード(6文字以上)" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control",placeholder: "確認用パスワード" %>
      </div>

      <div class="actions">
        <%= f.submit "サインアップ" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <div class = "col-md-2 col-sm-2 col-xs-2"></div>
</div>
