<%= form_with(model: @article , local: true, url: choose_new_or_edit ) do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :title, class: "form-control",placeholder: "タイトル(100文字以内)"  %>
  <%= form.text_field :hashtag, class: "form-control",placeholder: "ハッシュタグ(例. #rock, #hiphop, #liveレポート)"  %>

  <div class="input_group">
    <label class="input-group-btn">
      <span class="btn btn-primary">
        キャッチ画像を選択
        <%= form.file_field :catch_image, id: :article_image, style: "display:none" %>
        <%= form.hidden_field :catch_image_cache %>
      </span>
    </label>
    <input type="text" class="form-control" readonly="">
  </div>

  <script>
    $(document).on('change', ':file', function() {
      var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.parent().parent().next(':text').val(label);
    });
  </script>

  <div class="article_content">
    <%= form.label :投稿内容 %>
    <%= form.cktext_area :content %>
  </div>

  <div class = "actions">
    <%= form.submit "投稿する",class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Top page', articles_path %>
