<%= form_with(model: @article , local: true, url: choose_new_or_edit ) do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :catch_image %>
    <%= image_tag("#{@article.catch_image.url}") if @article.catch_image.url %>
    <%= form.file_field :catch_image, id: :article_image %>
    <%= form.hidden_field :catch_image_cache %>
  </div>

  <div class="article_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="article_hashtag">
    <%= form.label :hashtag %>
    <%= form.text_field :hashtag %>
  </div>
  <div class="article_content">
    <%= form.label :content %>
    <%= form.cktext_area :content %>
  </div>
  <div class = "actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Top page', articles_path %>
