<h3>以下の内容で、投稿する。</h3>

<%= form_with(model: @article, url: articles_path, local: true) do |f| %>
  <%= f.hidden_field :catch_image_cache %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :hashtag %>
  <%= f.hidden_field :content %>

  <div class = "article-show">
    <div class = "show_catch_image">
      <%= image_tag("#{@article.catch_image}", size: "390×260") %>
    </div>

    <div class = "text-information">

      <p class = "hashtag">
        <%= render_with_hashtags(@article.hashtag) %>
      </p>

      <p class = "article-title">
        <%= @article.title %>
      </p>

      <div class = "show-article-contents">
        <%== @article.content %>
      </div>

    </div>
  </div>
  <%= f.submit  '投稿する' %>
<% end %>

<%= form_with(model: @article, url: new_article_path, local: true, method: 'get') do |f| %>
  <%= f.hidden_field :catch_image_cache %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :hashtag %>
  <%= f.hidden_field :content %>
  <%= f.submit '戻る', name: 'back' %>
<% end %>
