<h1>記事詳細画面</h1>
<p>タイトル: <%= @article.title %></p>
<p>内容: <%= @article.content %></p>

<div id="favorite_btn_<%= @article.id %>">
  <%= render partial: "favorites/favorite", locals: {article: @article} %>
</div>

<p>コメント一覧：</p>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments,  article: @article } %>
</div>

<% if user_signed_in? %>
  <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
  
  <% if @article.user == current_user %>
    <p><%= link_to "記事を編集する", edit_article_path(@article.id) %></p>
    <p><%= link_to "記事を削除する", article_path(@article.id), method: :delete,data: { confirm: '本当に削除していいですか？' }  %></p>
  <% end %>
<% end %>

<p><%= link_to "Top page", articles_path %></p>
