<section id="user-detail" class="scroll-page bg-white">
  <div class="page-header">
    <h1>ユーザープロフィール</h1>
  </div>
  <table>
    <tr>
      <th>お名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
  </table>
</section>
<%= link_to 'お気に入り一覧', favorites_path(id: @user.id) %>

<% if @user == current_user %>
  <%= link_to 'アカウント編集', edit_user_registration_path %>
<% end %>

<h3><%= "#{@user.name}の投稿一覧" %></h3>
<% (@user.articles).each do |article| %>
  <p>
    <%= article.title %>
    <%= article.content %>
  </p>
<% end %>
