<section id="user-detail" class="scroll-page bg-white">
  <div class="page-header">
    <h1>ユーザープロフィール</h1>
  </div>
  <table>
    <tr>
      <th>アイコン</th>
      <td><%= image_tag("#{@user.icon_image.icon_thumb}") %></td>
    </tr>
    <tr>
      <th>名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>自己紹介文</th>
      <td><%= @user.introduce_message %></td>
    </tr>
    <% if @user != current_user %>
      <tr>
        <td>
          <%= render 'follow_form', user: @user %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <%= render 'follow_count', user: @user %>
      </td>
    </tr>
  </table>
</section>
<%= link_to 'お気に入り一覧', favorites_path(id: @user.id) %>

<% if @user == current_user %>
  <%= link_to 'アカウント編集', edit_user_registration_path %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% end %>

<h3><%= "#{@user.name}の投稿一覧" %></h3>
<table>
  <% (@user.articles).each do |article| %>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
    <tr>
      <td><%= link_to article.title, article_path(article.id) %></td>
      <td><%== article.content.truncate(10) %></td>
    </tr>

    </p>
  <% end %>
</table>
