<section id="user-detail" class="scroll-page bg-white">
  <div class="page-header">
    <h1>ユーザープロフィール</h1>
  </div>
  <table>
    <tr>
      <th>アイコン</th>
      <td><%= image_tag("#{@user.icon_image.icon_thumb}") %></td>
    </tr>
    <tr>
      <th>名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>自己紹介文</th>
      <td><%= @user.introduce_message %></td>
    </tr>
    <% if @user != current_user %>
      <tr>
        <td>
          <%= render 'follow_form', user: @user %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        フォロー<%= link_to "#{@user.following.count}", relationships_path(id: @user.id, name: 'follow_index')  %>
        フォロワー<%= link_to "#{@user.followers.count}", relationships_path(id: @user.id, name: 'follower_index') %>
      </td>
    </tr>
  </table>
</section>
<%= link_to 'お気に入り一覧', favorites_path(id: @user.id) %>

<% if @user == current_user %>
  <%= link_to 'アカウント編集', edit_user_registration_path %>
<% end %>

<h3><%= "#{@user.name}の投稿一覧" %></h3>
<% (@user.articles).each do |article| %>
  <p>
    <%= article.title %>
    <%= article.content %>
  </p>
<% end %>
